@media (max-width: 767px) {
  .full-width-mobile {
    width: 95% !important;
    max-width: none !important;
  }
}

@media (min-width: 768px) {
  .half-width-desktop {
    width: 60% !important;
    max-width: 60% !important;
  }
}

.signup-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(5, 200, 150);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

@media only screen and (min-width: 100px) {
  .signup-button {
    width: auto;
  }
}
