@media (max-width: 767px) {
  .full-width-mobile {
    width: 95% !important;
    max-width: none !important;
  }
}

@media (min-width: 768px) {
  .half-width-desktop {
    width: 60% !important;
    max-width: 60% !important;
  }
}
