{% if include.lightbox == 'true' %}
<figure data-uk-lightbox="animation: slide">
  <a
    class="uk-inline"
    href="{% if include.img contains 'http' %}{{ include.img }}{% else %}{{ site.uploads | absolute_url }}{{ include.img }}{% endif %}"
    {%
    if
    include.caption
    %}
    caption="{{ include.caption }}"
    {%
    endif
    %}
  >
    <img
      class="{% if include.half_width %}half-width-desktop {% endif %}{% if include.mobile_size %}full-width-mobile {% endif %}{% if !include.half_width and !include.mobile_size %}no-resize {% endif %}"
      style="
        height: auto;
        margin-left: auto;
        margin-right: auto;
        display: block;
        {% if include.mobile_size %} width: 95%; {% elsif include.half_width %} width: 60%; max-width: 60%; {% endif %}
      "
      src="{% if include.img contains 'http' %}{{ include.img }}{% else %}{{ site.uploads | absolute_url }}{{ include.img }}{% endif %}"
      {%
      if
      include.alt
      %}
      alt="{{ include.alt }}"
      {%
      endif
      %}
    />
    <div class="uk-position-center">
      <span data-uk-overlay-icon></span>
    </div>
  </a>
  {% if include.caption %}
  <figcaption data-uk-grid class="uk-flex-right">
    <span class="uk-width-auto">{{ include.caption }}</span>
  </figcaption>
  {% endif %}
</figure>
{% else %}
<figure>
  <img
    class="{% if include.half_width %}half-width-desktop {% endif %}{% if include.mobile_size %}full-width-mobile {% endif %}{% if !include.half_width and !include.mobile_size %}no-resize {% endif %}"
    style="
      height: auto;
      margin-left: auto;
      margin-right: auto;
      display: block;
      {% if include.mobile_size %} width: 95%; {% elsif include.half_width %} width: 60%; max-width: 60%; {% endif %}
    "
    src="{% if include.img contains 'http' %}{{ include.img }}{% else %}{{ site.uploads | absolute_url }}{{ include.img }}{% endif %}"
    {%
    if
    include.alt
    %}
    alt="{{ include.alt }}"
    {%
    endif
    %}
  />
  {% if include.caption %}
  <figcaption data-uk-grid class="uk-flex-right">
    <span class="uk-width-auto">{{ include.caption }}</span>
  </figcaption>
  {% endif %}
</figure>
{% endif %}
