<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

    {% include head.html %}
    
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WF982GJVVK"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-WF982GJVVK');
</script>

    <body>

    {% if page.hero %}
        {% include hero.html %}
    {% else %}
        {% include navbar.html %}
    {% endif %}

    {{ content }}

    {% include offcanvas-docs.html %}

    {% include offcanvas.html %}

    {% if page.layout != 'doc' %}
        {% include footer.html %}
    {% endif %}

    {% if page.layout == 'doc' %}
        {% include hook-pre-closing-body-doc.html %}
    {% endif %}

    {% include hook-pre-closing-body.html %}

    {% include cookie-consent.html %}

    </body>

</html>
